/*Для class - .назв , для id - #назв */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Стиль body */

body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    /*font: normal 16px 'roboto', sans-serif;*/
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

a {
    color: black;
    text-decoration: none;
    margin: 10px;
    padding: 5px 60px;
    background-color: orange;
}

a:hover {
    opacity: inherit;
    text-decoration: underline;
    background-color: orangered;
    padding: 5px 60px;
    margin: 10px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    /*or 50% - круглая*/
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}

.info {
    display: flex;
    margin-bottom: 40px;
}

.info-text {
    margin-left: 50px;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    /* font-weight: bold;*/
    text-decoration: none;
    /* text-transform: uppercase;*/
    /* letter-spacing: 1px;*/
    /* word-spacing: 1px; */
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-aqua {
    background-color: aquamarine;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.bg-blue {
    background: #F0FFFF;
}

.table-h2 h2 {
    text-align: center;
}

.table {
    width: 100%;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: dimgray;
}

.table tr:nth-child(1) {
    color: darkcyan;
}


/*.table tr:nth-child(even) /*odd {
    background-color: #F9F9FF;
}*/

.list {
    padding: 0 20px;
}

.list li {
    margin-bottom: 10px;
}

.social {
    margin-bottom: 20px;
    text-align: center;
    /* background: grey;
    padding: 15px 20px; padding-top,left,right,bottom
    border: 5px solid red;
    margin: 5px;
    border-bottom-style: dotted;*/
}

.photo {
    margin-bottom: 20px;
}

.photo-al h2 {
    text-align: center;
}

.social-al h2 {
    text-align: center;
}

.fav-al h2 {
    padding-top: 20px;
    text-align: center;
}

.contact {}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    outline: none;
}

.row {
    display: flex;
}

.row > .form-group {
    margin-right: 20px;
}

.btn-ok {
    padding: 10px 30px;
}

.btn-res {
    padding: 10px 30px;
}

.btn-ok:hover {
    padding: 10px 30px;
    background-color: orange;
    opacity: 0, 4;
}

.btn-res:hover {
    padding: 10px 30px;
    background-color: orange;
    opacity: 0, 4;
}

@media (max-width: 850px) {
    .info {
        display: block;
        text-align: center;
    }
    a,
    a:hover {
        margin: 10px;
        padding: 5px 20px;
    }
}

@media (max-width: 550px) {
    a,
    a:hover {
        margin: 10px;
        padding: 5px 10px;
    }
}